<nav class="navbar navbar-dark border-bottom border-dark py-4">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold text-white" href="#">
            <img src="/img/Logo Jarod.jpg" alt="Logo" class="rounded-circle" style="width: 60px; height: 60px; object-fit: cover;">
        </a>

        <!-- Links -->
        <div class="d-flex gap-3 fs-5">
            <a class="nav-link text-decoration-none" href="#">Home</a>
            <a class="nav-link text-decoration-none" href="/pages/tienda/productos.html">Productos</a>
            <a class="nav-link text-decoration-none" href="/pages/tienda/nosotros.html">Nosotros</a>
            <a class="nav-link text-decoration-none" href="/pages/tienda/blogs.html">Blogs</a>
            <a class="nav-link text-decoration-none" href="/pages/tienda/contacto.html">Contacto</a>
        </div>

        <!-- Carrito -->
        <div class="d-flex align-items-center gap-5">
            <a src = "/pages/tienda/login.html" ><img src="/img/login.svg" alt="Iniciar sesión"></a>
            <a src = "/pages/tienda/carrito.html" ><img class="" src="/img/cart.svg" alt="carrito"></a>
        </div>
    </div>  
</nav>
