<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <nav class="navbar navbar-dark border-bottom border-dark py-4">
        <div class="container-fluid">

            <!-- Nombre del sitio -->
            <a class="navbar-brand fw-bold text-white" href="#">
                ■ &nbsp; JA
            </a>

            <!-- Links -->
            <div class="d-flex gap-3 fs-5">
                <a class="nav-link text-decoration-none" href="#">Home</a>
                <a class="nav-link text-decoration-none"  href="#">Productos</a>
                <a class="nav-link text-decoration-none"  href="#">Nosotros</a>
                <a class="nav-link text-decoration-none"  href="#">Blogs</a>
                <a class="nav-link text-decoration-none"  href="#">Contacto</a>
            </div>

            <!-- Carrito -->
            <div class="d-flex align-items-center gap-3">
                <img src="/img/cart.svg" alt="carrito">
            </div>

        </div>
    </nav>
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>