<div class="navbar-admin d-flex flex-column justify-content-between text-bg-dark border-end border-secondary vh-100" style="width: 220px; position: sticky; top: 0;" data-bs-theme="dark">
  <div>
    <div class="d-flex align-items-center gap-3 p-3 border-bottom border-secondary">
      <img src="/img/Logo Jarod.jpg" alt="Logo" class="rounded-circle" style="width: 40px; height: 40px;">
      <span class="fw-semibold text-white fs-5">JA Joyería</span>
    </div>

    <div class="list-group list-group-flush mt-2">
      <a href="/pages/admin/admin.html" class="list-group-item list-group-item-action bg-secondary text-white fw-medium border-0">Dashboard</a>
      <a href="/pages/admin/admin-ordenes.html" class="list-group-item list-group-item-action border-0">Órdenes</a>
      <a href="/pages/admin/admin-inventario.html" class="list-group-item list-group-item-action border-0">Inventario</a>
      <a href="/pages/admin/admin-reportes.html" class="list-group-item list-group-item-action border-0">Reportes</a>
      <a href="/pages/admin/admin-empleados.html" class="list-group-item list-group-item-action border-0">Empleados</a>
      <a href="/pages/admin/admin-customers.html" class="list-group-item list-group-item-action border-0">Customers</a>
    </div>
  </div>

  <div class="mb-2">
    <div class="list-group list-group-flush mb-3">
      <a href="#" class="list-group-item list-group-item-action border-0 text-secondary">Settings</a>
      <a href="#" class="list-group-item list-group-item-action border-0 text-secondary">Profile</a>
      <a href="#" class="list-group-item list-group-item-action border-0 text-secondary">Help</a>
    </div>
    
    <div class="d-flex align-items-center gap-3 p-3 mx-2 border-top border-secondary">
      <span class="rounded-circle bg-secondary d-inline-block" style="width: 32px; height: 32px;"></span>
      <span class="text-light">Perfil</span>
    </div>
  </div>
</div>